body{
    margin: 0 auto;
    padding: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,109,121,1) 34%, rgba(0,212,255,1) 100%);
    margin: 20vh;
    line-height: 1.4; background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(34,12,8,1) 0%, rgba(0,212,255,1) 100%);
    

    
}
.container{
    height: 50vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;  
    background-color: #19645a;
    width: 90%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    overflow: hidden;
}
.title{
    font-size: 30px;
    color: #fff;
    font-weight: 900;
    padding: 10px;
    text-align: center;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(34,12,8,1) 0%, rgb(3, 203, 243) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.left-form img{
    height: 50vh;
    width: 100%;
    /* background-size: cover; */
    /* background-position: 95% 10%; */
    object-fit: cover;
    clip-path: polygon(0% 0%, 79% 0, 100% 49%, 78% 100%, 0% 100%);
}
.form-container{
    margin: 0 auto;
    flex: 3;
}
.form-header img{
    width: 100px;
    height: 95px;
    border-radius: 43%;
}
.form-header{  
    display: flex;
    justify-content: center;
}
.logo{
    border-radius: 40px;
    width: 20%;
}
.form-group{
    padding: 10px;
}
.form-group button{
    background-color: rgb(17, 154, 142);
    border: none;
    color: white;
    padding: 8px;
    border-radius: 5px;
}
.right-form{
    width: 20%;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 63% 64%);
    background-color: #3ac7bd;
}
.right-form img{
    width:70% ;
    margin-left: 28%;   
}
input{
    width: 100%;
    padding: 13px;
    border-radius: 4px;
    border: none;
    outline: #11aaaf;
}
header{
    display: flex;
    padding: 10px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.line{
    width: 220px;
    height: 1px;
    background-color: #44d6db;
}
span{
    width: 10px;
    height: 10px;
    background: #26d5db;
    padding: 10px;
    border-radius: 40px;
}





